<!-- section presentation before 15 / 05
<div class="presentation-section">
  <div class="presentation-content">
    <h1>Soyez originaux pour vos <span class="important">pains</span> et vos <span class="important">gâteaux</span></h1>
    <h2>iBoulange sélectionne les meilleurs articles et machines à travers l’Europe  et au-delà pour donner libre cours à l’imagination des artisans dans la créativité de leurs produits</h2>
  </div>
  <img src="{{ 'presentation-bg.jpg' | asset_url }}" class="presentation-image"/>
</div> -->

<div class="SectionPresentation">
   <div class="grid">
     <div class="1/2--lap-and-up grid__cell">
         <div class="PresentationContent">
            <h1 class="PresentationTitle">{{ section.settings.title }}</h1>
            <h2 class="PresentationText">{{ section.settings.content }}</h2>
         </div>
     </div>
     <div class="1/2--lap-and-up grid__cell">
        <div class="PresentationImage">
          {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
          {% endif %}
        </div>
     </div>
   </div>
</div>

{% schema %}
{
  "name": "Presentation",
  "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Title",
        "default": "Soyez originaux pour vos et vos gâteaux"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content",
        "default": "iBoulange sélectionne les meilleurs articles et machines à travers l’Europe  et au-delà pour donner libre cours à l’imagination des artisans dans la créativité de leurs produits</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "image"
      }
  ],
  "presets": [
		{
			"name": "Presentation",
			"category": "Image"
		}
	]
}
{% endschema %}
